<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% if page.css %}
    <link rel="stylesheet" href="{{ page.css | prepend: '/css/' | prepend: site.baseurl | append: '.css' }}">
    {% endif %}
    <meta name="wot-verification" content="770bdad842a321c21f33"/> 
  </head>

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
