---
layout: default
---
<div class="post">

  <header class="post-header">
  <h1>{{ page.title }}
    <div class="diets">
      {% if page.tags contains 'drink' %}
      <img src="/img/drink.png" height=42 alt="(drink)" title="drink"/>
      {% endif %}
      {% if page.tags contains 'vegan' %}
      <img src="/img/diets/vegan.png" height=42 alt="(vegan and vegetarian dish)" title="vegan and vegetarian dish"/>
      {% elsif page.tags contains 'vegetarian' or page.tags contains 'veg' %}
      <img src="/img/diets/vegetarian.png" height=42 alt="(vegetarian dish)" title="vegetarian dish"/>
      {% endif %}
      {% if page.tags contains 'paleo' and page.tags contains 'meat' %}
      <img src="/img/diets/very-paleo.png" height=42 alt="(meaty paleo dish)" title="meaty paleo dish"/>
      {% elsif page.tags contains 'paleo' %}
      <img src="/img/diets/paleo-ok.png" height=42 alt="(paleo-compliant dish)" title="paleo-compliant dish"/>
      {% endif %}
      {% if page.tags contains 'gluten-free' or page.tags contains 'gf' %}
      <img src="/img/diets/gluten-free.png" height=42 alt="(gluten-free dish)" title="gluten-free dish"/>
      {% endif %}
    </div>
  </h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% if page.ingredients %}
    <div class="ingredients-listing">
      <h3>Ingredients{% if page.ingredients.parens %} ({{ page.ingredients.parens }}){% endif %}:</h3>
    <ul>
    {% for ingr in page.ingredients %}
      <li class="ingredient">

        {% if ingr.quantity %}
        <span class="quantity">
        {{ ingr.quantity }}
        </span>
        {% endif %}

        {% if ingr.type %}
        <span class="type">
        {{ ingr.type }}
        </span>
        {% endif %}

        <span class="name">
        {{ ingr.name }}
        </span>

        {% if ingr.where %}
        <span class="where">
        ({{ ingr.where }})
        </span>
        {% endif %}

      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </header>

  <article class="post-content">
  {{ content }}
  {% if page.author %}
    <p class="signature">
    {% if page.signature %}
    {{ page.signature }},
    {% else %}
    Enjoy,
    {% endif %}
    <br />
    {{ page.author }}
    </p>
  {% endif %}
  </article>

</div>
